* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  color: white;
}

.auth-bg {
  background: radial-gradient(circle at top, #03203d, #000);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass {
  background: rgba(255,255,255,0.06);
  backdrop-filter: blur(14px);
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 20px;
}

.auth-card {
  width: 380px;
  padding: 30px;
  box-shadow: 0 0 40px rgba(0,0,0,0.45);
}

.logo {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 25px;
}
.logo span {
  color: #4dc2ff;
}

.auth-tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tab {
  flex: 1;
  padding: 10px;
  border: none;
  background: rgba(255,255,255,0.08);
  color: white;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  transition: .2s;
}
.tab.active {
  background: #4dc2ff;
  color: black;
}

.auth-form {
  display: none;
  flex-direction: column;
  gap: 14px;
}
.auth-form.active {
  display: flex;
}

.field {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 6px;
}

.field input,
.field select {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: rgba(255,255,255,0.1);
  color: white;
}

.btn-primary {
  padding: 12px;
  border: none;
  border-radius: 12px;
  background: #4dc2ff;
  color: black;
  font-weight: 700;
  cursor: pointer;
  transition: .2s;
}
.btn-primary:hover {
  background: #27b6ff;
}

.error {
  min-height: 20px;
  color: #ff6565;
  font-size: 14px;
  text-align: center;
}